[submodule "esptool"]
	path = esptool
	url = https://github.com/espressif/esptool.git
[submodule "uploader"]
	path = uploader
	url = https://github.com/kmpm/nodemcu-uploader.git
[submodule "nodemcu-httpserver"]
	path = nodemcu-httpserver
	url = https://github.com/marcoskirsch/nodemcu-httpserver.git
